{% load i18n %}

<thead id="leaderboard-table-head">
    <tr>
        <th scope="col">#</th>
        <th scope="col">{% translate "User" %}</th>
        <th scope="col">{% translate "Date" %}</th>
            {% if current_sort == "distance" %}
                <th scope="col">{% translate "Distance" %}</th>
            {% elif current_sort == "duration" %}
                <th scope="col">{% translate "Duration" %}</th>
            {% elif current_sort == "pace" %}
                <th scope="col">{% translate "Pace" %}</th>
            {% elif current_sort == "All" %}
                <th scope="col">{% translate "Distance" %}</th>
                <th scope="col">{% translate "Duration" %}</th>
                <th scope="col">{% translate "Pace" %}</th>
            {% endif %}
    </tr>
</thead>

