{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Leaderboard" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% translate "Leaderboard" %}</h1>

{% include "leaderboards/partials/_leaderboard_sort_buttons.html" with current_sort=current_sort %}

{% if activities %}
    <div class="table-responsive">
        <table id="leaderboard-table" class="table table-striped table-hover">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 15%;">
                <col style="width: 20%;">
                <col style="width: 55%;">
            </colgroup>
            {% include "leaderboards/partials/_leaderboard_table_head.html" with current_sort=current_sort %}
            {% include "leaderboards/partials/_leaderboard_table_body.html" with activities=activities current_sort=current_sort %}
        </table>
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        {% translate "No runs have been logged yet." %}
    </div>
{% endif %}
{% endblock %}
